@import './themes.css';

/* FUENTES */
@font-face{
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}


body{
    font-family: 'Montserrat';
    background-color: var(--background-body);
    color: var(--text-color);
}
.section_title{
    display: flex;
    align-items: center;
    column-gap: 10px;

    h1{
        margin: 0;
    }
    .logo{
        height: 20px;
    }
}

/* BOX STYLE */
.section_boxes{
    display: grid;
    grid-template-columns: 100%;

    .box{
        background-color: var(--background-box);
        height: 200px;
        border-radius: 5px;
    }
}

