@import './themes.css';

/* FUENTES */
@font-face{
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

html{
    font-size: 16px;
}

body{
    margin: 0;
    display: grid;
    grid-template-columns:100%;
    /* row-gap: 30px; */
    grid-template-areas: 
    'header'
    'main'
    'footer';

    font-family: 'Montserrat';
    background-color: var(--background-body);
    color: var(--text-color);
}




header{
    grid-area: header;
    padding: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--background-box);

    .logo{
        width: 100%;
        mask-image: linear-gradient(
            transparent 5%,
            black 90%,
        );
    }
    nav{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-content: center;

        .settings_container{
            width: 50px;
            height: 50px;
            /* background-color: blue; */

            .settings_circle{
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                justify-content: center;
                cursor: pointer;

                border-radius: 50%;
                border: 3px solid var(--emphasis-color);
                height: 90%;

                p{
                    margin: 0;
                    font-weight: 900;
                    color: var(--set-text-color);
                }
            }
        }
    }

}

main{
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 20px;
    grid-template-areas: 
    'box_bar'
    'boxes';

    .box_bar{
        grid-area: box_bar;
        display: grid;
        grid-template-columns: 100%;
        column-gap: 8px;
        background-color: var(--background-box);
        padding: 5%;

        input{
            border-radius: 7px;
            border: 3px solid var(--emphasis-color);
            height: 30px;
            padding-left: 20px;
            font-size: 3.5vw;
            font-weight: 100;
        }
        
    }

    /* BOX STYLE */
    .section_boxes{
        padding: 10px;
        grid-area: boxes;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1%;

        .box{
            background-color: var(--background-box);
            height: 200px;
            border-radius: 5px;
            padding: 10px;
        }
    }
}

footer{
    grid-area: footer;


}

.hidden{
    display: none;
}

